<%= stylesheet_link_tag    'application' %>

<div class="center">
  <img class="logo" src="/Eats Abroad Logo-v-5A Mar.jpg" width="165" height="125" alt="Eats Abroad logo">
  <h2>Please log in with your account</h2>
  <div class="form">
    <%= form_tag signin_path do %>
      <label>Email:</label>
      <%= text_field_tag :email %><br>
      <label>Password:</label>
      <%= password_field_tag :password %><br>
  </div>
      <%= submit_tag "Log In", :class => "button login" %>
    <% end %>
  <h2>Alternatively, <%= link_to "log in via Facebook", '/auth/facebook' %></h2>
</div>
