<%= stylesheet_link_tag    'application' %>
<div class="comment-box">
  <h1>Add a comment for <%= @restaurant.name %></h1>
  <div class="profile-info">
    <h3>Existing comments:</h3>
      <ul id="comment_list">
      <% if @comments %>
        <% @comments.each do |c| %>
          <li><%= c.content %> - <%= link_to c.chef.name, chef_path(c.chef.id) %></li>
        <% end %>
      <% else %>
        <p>None!</p>
      <% end %>
      </ul>

  <%= form_for @comment, :url => url_for(:controller => 'comments', :action => 'create'), :html => {:id => "comment_form"} do |f| %>
    <h3><%= f.label :content, "Thoughts about this restaurant:" %></h3>
    <%= f.text_area :content, class: "comment-input", placeholder: @comment.errors[:content] ? @comment.errors[:content][0] : '' %>
    <%= f.submit "Add Comment", :id => "submit_comment", :class => "button", data: { disable_with: false } %>
  <% end %>
    </div>
</div>
