<%= stylesheet_link_tag    'application' %>

<div class="form">
    <%= f.label :name, :class => "required" %>
    <%= f.text_field :name, placeholder: @chef.errors[:name] ? @chef.errors[:name][0] : 'Name', :class => "input-field" %><br>
    <%= f.label :email, :class => "required" %>
    <%= f.text_field :email, placeholder: @chef.errors[:email] ? @chef.errors[:email][0] : 'Email', :class => "input-field" %><br>
    <%= f.label :password, :class => "required" %>
    <%= f.password_field :password, placeholder: @chef.errors[:password] ? @chef.errors[:password][0] : 'Password', required: true, :class => "input-field" %><br>
    <%= f.label :hometown %>
    <%= f.text_field :hometown, :class => "input-field" %><br>
    <%= f.label :employer %>
    <%= f.text_field :employer, :class => "input-field" %><br>
</div>
  <div class="create-account">
    <%= f.submit "Create Account", class: ["button"] %>
  </div>
</div>
