<!-- form to be rendered when chef signs up for new account -->
<h1>Sign up for a new Eats Abroad account</h1>
<%= form_for :chef, url: chefs_path, method: :post do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br>
  <%= f.label :email %>
  <%= f.text_field :email %><br>
  <%= f.label :password %>
  <%= f.password_field :password %><br>
  <%= f.label :hometown %>
  <%= f.text_field :hometown %><br>
  <%= f.label :employer %>
  <%= f.text_field :employer %><br>
  <%= f.submit "Create Account" %>
<% end %>
