
<% if current_user.id.to_s == params[:chef_id] %>
  <h1>My Recommended Restaurants</h1>
<% elsif params[:city_id] %>
  <h1>Recommended Restaurants in <%= @city.name %></h1>
    <%= render 'iterate' %>
<% elsif params[:type] %>
  <h1>Recommended <%= params[:type].capitalize %> Restaurants on Eats Abroad</h1>
    <%= render 'iterate' %>
<% elsif params[:chef_id] %>
  <h1><%= @chef.name %>'s Recommended Restaurants</h1>
    <%= render 'iterate' %>
<% else %>
  <h1>Recommended Restaurants on Eats Abroad</h1>
    <%= render 'iterate' %>
<% end %>

<ul>
  <% if current_user.id.to_s == params[:chef_id] %>
    <% if @restaurants.size == 0 %>
      <p>You haven't recommended any restaurants yet! Click <%= link_to "here", new_restaurant_path %> to get started.</p>
    <% else %>
      <% @restaurants.each do |r| %>
        <li><%= link_to r.name, restaurant_path(r) %></li>
      <% end %>
      <br>
      <%= link_to "Recommend a new restaurant", new_restaurant_path %>
    <% end %>
  <% end %>

</ul>
