<% if current_user.id.to_s == params[:chef_id] %>
  <h1>My Recommended Restaurants</h1>
  <% if @restaurants.size == 0 %>
    <p>You haven't recommended any restaurants yet! Click <%= link_to "here", new_restaurant_path %> to get started.</p>
  <% else %>
    <%= render 'iterate' %>
    <br>
    <%= link_to "Recommend a new restaurant", new_restaurant_path %>
  <% end %>
<% elsif params[:chef_id] %>
  <h1><%= @chef.name %>'s Recommended Restaurants</h1>
    <%= render 'iterate' %>
<% elsif params[:city_id] %>
  <h1>Recommended Restaurants in <%= @city.name %></h1>
    <%= render 'iterate' %>
<% elsif params[:type] %>
  <h1>Recommended <%= params[:type].capitalize %> Restaurants on Eats Abroad</h1>
    <%= render 'iterate' %>
<% else %>
  <h1>Recommended Restaurants on Eats Abroad</h1>
    <%= render 'iterate' %>
<% end %>
