
<% if current_user.id.to_s == params[:chef_id] %>
  <h1>My Recommended Restaurants</h1>
<% elsif params[:city_id] %>
  <h1>Recommended Restaurants in <%= @city.name %></h1>
<% else %>
  <h1><%= @chef.name %>'s Recommended Restaurants</h1>
<% end %>

<ul>
<% if @restaurants.size == 0 %>
  <p>You haven't recommended any restaurants yet! Click <%= link_to "here", new_chef_restaurant_path %> to get started.</p>
<% else %>
  <% @restaurants.each do |r| %>
    <li><%= link_to r.name, restaurant_path(r) %></li>
  <% end %>
<% end %>
</ul>


<% if current_user.id.to_s == params[:chef_id] %>
  <%= link_to "Recommend a new restaurant", new_chef_restaurant_path %>
<% end %>
