<div>
  <h1>Add an existing restaurant to your recommendations:</h1>
  <%= form_for :restaurant, :url => url_for(:controller => 'restaurants', :action => 'create'), :html => {:id => "add_existing"}, method: :post do |f| %>
    <%= f.collection_select :id, @chef.unrecommended_restaurants, :id, :name, :prompt => "Please select" %>
    <%= f.submit "Add to My List" %>
  <% end %>
</div>

<div>
  <h1>Or create a new restaurant:</h1>
  <%= form_for @restaurant do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: @restaurant.errors[:name] ? @restaurant.errors[:name][0] : '' %><br>
    <%= f.label :cuisine %>
    <%= f.text_field :cuisine %><br>
    <%= f.label :city %>
    <%= f.collection_select :city_id, City.all, :id, :name, :prompt => "Please select" %><br>
    <% if @restaurant.errors[:city_id] != [] %>
      <div class="field_with_errors"><%= @restaurant.errors[:city_id][0] %></div>
    <% end %>
    <%= f.submit "Create Restaurant and Add to My List" %>
  <% end %>
</div>
