<% if session[:email] %>
  <h1>Welcome, <%= @chef.name %>!</h1>
  <p><%= link_to "View my recommended restaurants", chef_restaurants_path(@chef) %></p>
  <p><%= link_to "View my profile", chef_path(@chef) %></p>
  <p><%= link_to "Log Out", signout_path, method: :delete %></p>
<% else %>
  <h1>Welcome to Eats Abroad!</h1>
  <p>Please <%= link_to "sign in", signin_path %> or <%= link_to "create an account", new_chef_path %></p>
<% end %>
